.banner-slider-container {
    position: relative;
    z-index: 1;
    padding: 0;
    height: 700px;
}
.carousel-inner {
    height: 100% !important;
}
.carousel-inner .carousel-item {
    height: 100% !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.furniture-wrap{background: #ecedf2;}
.furniture-service{max-width:970px; margin:0 auto; margin-top:-60px; z-index: 1000; position: relative;}
.furniture-service li{text-align:center; display:inline-block; max-width: 125px; margin: 0 8px;}
.furniture{
    min-width: 125px; min-height: 131px;
    padding:15px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #363f48; -webkit-box-shadow: 0 6px 8px rgba(0,0,0,.42); -moz-box-shadow: 0 6px 8px rgba(0,0,0,.42); box-shadow: 0 6px 8px rgba(0,0,0,.42);}
.furniture h3{font-size:14px; color:#fff; margin-top:16px; line-height:20px; margin-bottom:0; font-family: 'Open Sans', sans-serif;}
.furniture-service li a{text-decoration:none;}
.furniture-service li:hover .furniture{background:#a58838;}

.welcome-wrap {
    padding: 70px 0;
    background: url(../img/welcome-bg.jpg) no-repeat top;
    background-size: cover;
}
.welcome-wrap .section-header {margin-bottom: 15px;}
.title h1{font-size:62px; font-weight:bold; text-transform:uppercase;}
.title h1 span{display:inline-block; font-size:24px; color:#a58838; font-style:italic;}
.title h1 strong{color:#a58838;}
.welcome-wrap h3{font-weight:bold;}
.welImg img{/*border:20px solid #fff;*/ height: 600px; text-align: center;min-height: 100%;max-width: 600px;background-size: cover;
}
.welcome-wrap p{font-size:14px; line-height:24px; color:#818080;}
.welcome-content-box {width: 100%; margin-top:30px;}
.welcome-box h4 {display: block; font-size:18px; font-weight:bold; color: #a58838;}
.readmore{margin-top:5px;}
.readmore a{background:#0a225f; font-size:14px; color:#fff !important; text-transform:uppercase; font-weight:700; display:inline-block; padding:12px 26px;}
.readmore a:hover{background:#ff0000; text-decoration:none;}
.houseIcon{margin-bottom:20px;}

/*********************************************
		Project css
*********************************************/
.project-heading{padding:40px 0;}
.project-heading .title{border-right:1px solid #a58838; float:left; padding-right:50px; margin-right:50px;}
.project-heading p{margin-top:14px;}
.projectImg{position:relative;}
.projectImg img{max-width: 100%;}
.service-overlay{z-index:1000; position:relative;}
.heading a{text-decoration:none; color:#fff; z-index:100; position:relative; font-size:24px; font-weight: bold;}
.heading {opacity: 0; -webkit-transition: all .3s ease-in-out 0s; transition: all .3s ease-in-out 0s;}
.projectImg:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.38);
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.projectImg:hover:after {height: 100%;}
.service-overlay p{font-size:16px; color:#fff;}
.service-overlay {
    position: absolute;
    left: 30px;
    bottom: 0px;
    right: 40px; opacity:0;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.projectImg:hover .service-overlay {
    bottom:30px; opacity:1;
}
.projectImg:hover:after {
    height: 100%;
}
.projectImg:hover .heading{
    opacity: 1;
}

/**********************************
		Team Css
**********************************/
.team-wrap{padding:60px 0;}
.team-wrap .title{ margin-bottom:50px;
    border-right: 1px solid #a58838;
    float: left;
    padding-right: 50px;
    margin-right: 50px;
}
.team-wrap p{margin-top:24px;}
.team-wrap ul{list-style:none;}
.teamInfo{background:#FFF; box-shadow:0 0 16px rgba(0, 0, 0, 0.23); padding:15px; margin:0 15px; text-align:center; margin-top:-20px; z-index:1000; position:relative;}
.teamInfo h3{margin-top:0; font-weight:bold; margin-bottom:6px; font-size:20px;}
.social-icons{list-style:none; display:block; text-align:center; position:absolute; top:20px; right:20px; z-index:1000;}
.social-icons li{padding:5px 0;}
.social-icons li a{text-decoration:none; width:35px; height:35px; text-align:center; line-height:35px; border:1px solid #a58838; color:#a58838; font-size:18px; display:block; border-radius:100%;}
.social-icons li:nth-child(1) a{color:#3b5998; border:1px solid #3b5998;}
.social-icons li:nth-child(1) a:hover{background:#3b5998;}
.social-icons li:nth-child(2) a{color:#1da1f2; border:1px solid #1da1f2;}
.social-icons li:nth-child(2) a:hover{background:#1da1f2;}
.social-icons li:nth-child(3) a{color:#0174b5; border:1px solid #0174b5;}
.social-icons li:nth-child(3) a:hover{background:#0174b5;}
.team-wrap ul li:hover li a{color:#fff; border:1px solid #fff;}
.teamImg{position:relative; overflow:hidden;}
.teamImg:before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 100%;
    bottom: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    transition: all 0.4s ease-in-out 0s;
    text-align: center;
}
.team-wrap ul li:hover .teamImg:before {
    z-index: 1000;
    visibility: visible;
    transition: all 0.4s ease-in-out 0s;
    bottom: 0px;
}
